#profile-box {
    float: left;
    width: 180px;
    border: 1px solid black;
    padding: 10px;
}

#profile-box > img {
    width: 150px;
    height: 150px;
    margin: 0 25px;
}

#profile-box > .name {
    text-align: center;
    font-weight: bold
}

#profile-box > ul {
    padding: 0;
    list-style-type: none;
}

#profile-box span {
    font-weight: bold;
}

#container {
    width: 1000px;
}

#content {
    float: right;
    width: 760px;
    border: 1px solid black;
    padding: 10px;
    font-family: sans-serif;
}

#content > div {
    clear: left;
}

#content ul {
    padding: 0;
    list-style-type: none;
}

#content ul > li {
    margin: 10px 0;
    padding: 5px;
    background-color: #CACACA;
}

#skills ul > li {
    float: left;
    margin-right: 10px;
}

#experience li {
    cursor: pointer;
}

#experience .company, #experience .period {
    font-weight: bold;
}

#experience .expand {
    float: right;
}

#experience .description {
    clear: right;
    border-top: 1px solid gray;
    margin-top: 2px;
    padding-top: 5px;
    display: none;
}

#contacts {
    width: 220px;
}

#contacts input, #contacts textarea {
    width: 200px;
    margin: 5px;
    padding: 2px;
}

#contacts input[type="submit"] {
    width: 80px;
    margin: 5px;
    padding: 2px;
}
